[workspace]
members = ["programs/staking"]
resolver = "2"

[profile.release]
overflow-checks = true
lto = "fat"
codegen-units = 1
[profile.release.build-override]
opt-level = 3
incremental = false
codegen-units = 1

[patch.crates-io]
solana-program = "=1.16.24"
solana-sdk = "=1.16.24"
